# Byte-compiled / optimized / DLL files
.python-version
__pycache__/
*.egg-info/
.idea/
dist/
build/
.vscode/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache

# Pytorch model checkpoints
*.pt
*.pth
*.ckpt
*.bin
*.onnx
*.h5
*.pb
*.safetensors

# Hydra config and log directories
./.hydra/
output/
outputs/

# Images and videos
*.jpg
*.jpeg
*.bmp
*.mp4
*.avi
*.mov
*.mkv
*.webm

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
cov.xml
nosetests.xml
coverage.xml
*.cover

# Virtual env
/.venv
# Env folder
/env
.venv/

# Hydra experiments folder
/experiments
